body {
	margin: 0;
	padding: 0;
	font-size: 50px;
	text-align: center;
	font-family: "Dosis", sans-serif;
	line-height: 1.8;
	background-color: black;
	color: aliceblue;
}
.top-grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.reset {
	margin-top: 20px;
	font-size: 30px;
	background-color: rgb(50, 50, 49);
	padding: 0px 10px;
	border-radius: 10px;
}
.reset:hover {
	transition: 1s;

	border-radius: 30px;
	background-color: rgb(114, 114, 69);
	cursor: pointer;
}
.grid-container {
	max-width: 650px;
	max-height: 750px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 1fr 8fr 1fr;
	margin-top: -15px;
}
.game-board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 10px;
}
.gamesq {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 100px;
	background-color: rgb(19, 19, 19);
}
.gamesq:hover {
	transition: 0.5s;
	border-radius: 20px;
	background-color: rgb(32, 32, 32);
}
.taken {
	background-color: rgb(53, 53, 53);
}
.bottom-grid {
	display: flex;
	font-size: 30px;
	justify-content: start;
}
.bottom-grid > div {
	width: 50%;
	padding-left: 0px;
}
